@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap'); /*Fuente Script:*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap'); /*Fuente Host Grotesk*/

.header {
  background-image: linear-gradient(#526D82, #DDE6ED);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.buttons-container {
  margin-left: auto;

}

.header img {
  height: 64px;
  width: 64px;
  margin-right: 20px;
  object-position: center;
  transition: transform 0.5s ease, margin 0.5s ease;
}

.header p,
.header a {
  color: #dad9d9;
  text-decoration: none;
  font-size: 24px;
  margin-right: 20px;
  transition: 0.5s;
}

.header button {
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 10px 15px;
}

#login {
  background-color: #27374D;
  color: #dddada;
  border: #27374D;
  transition: transform 0.5s ease, margin 0.5s ease;

}

#register {
  background-color: #9DB2BF;
  border: #9DB2BF;
  transition: transform 0.5s ease, margin 0.5s ease;

}

.header img:hover {
  transform: scale(1.25);
  margin-left: auto;
  margin-right: auto;
}

.header p:hover,
.header a:hover {
  font-weight: bold;
  color: #000;
}

#login:hover {
  transform: scale(1.25);

}

#register:hover {
  transform: scale(1.25);

}

.footer {
  background-image: linear-gradient(#DDE6ED, #526D82);
  padding: 10px;
  font-family: "Host Grotesk";
  text-align: center;

  
}

.footer a {
  text-decoration: none;
  color: #27374D;
  transition: 0.5s;
}

.footer ul li {
  display: inline-block;
  margin: 0px 30px;
}

#fila1 {
  color: #526D82;
  font-size: 20px;
}

#fila2 {
  color: #000;
  font-size: 12px;
  padding: 20px;
  text-align: center;
}

#fila1 img:hover {
  transform: scale(1.25);
}

.footer a:hover {
  color: #000;
}

.producto {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: transform 0.5s ease, margin 0.5s ease;
}

.producto:hover{

  transform: scale(1.05);
  background-color: #ffffffbd;
  transition: transform 0.5s ease, margin 0.5s ease;


}
.catalogo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1500px;
  margin: 0 auto;
  background-color: #DDE6ED;
}

.Texto {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.Texto h3 {
  font-size: 28px;
  color: #27374D;
  margin-bottom: 28px;
  text-align: justify;
}

.Texto h5 {
  font-size: 18px;
  color: #526D82;
  margin-bottom: 20px;
}

#intro h5{
  font-size: 24px;
  text-align: justify;
}



#pregunta h5{
  font-size: 20px;
  margin-bottom: 20px;
  text-align: justify;

}

#pregunta h3{
  font-size: 28px;
  text-align: justify;
  margin-bottom: 10px;

}

#pregunta a{
  color: #27374D;
}

ol li{
  font-size: 24px;
  color: #3D5268;
  margin-bottom: 24px;
  text-align: center;
}

ul li{
  text-align: center;
  font-size: 24px;
  text-align: justify;
  
  max-width: 1200px;
  margin: 0 auto;
}

body{
  font-family: "Host Grotesk" ;
}

body {
  background-color: #DDE6ED !important;
}

@media (max-width: 500px) {
  .footer ul li {
    margin: 0px 5px;
  }
      
}

@media (max-width: 768px) {
  .catalogo {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}