.header {
  background-image: linear-gradient(#ffa751, #ffe259);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
}

.buttons-container {
  margin-left: auto;
}

.header img {
  height: 64px;
  width: 64px;
  margin-right: 20px;
  object-position: center;
  transition: transform 0.5s ease, margin 0.5s ease;
}

.header img:hover {
  transform: scale(1.25);
  margin-left: auto;
  margin-right: auto;
}

.header p, .header a {
  color: #000;
  text-decoration: none;
  font-size: 24px;
  margin-right: 20px;
  transition: 0.5s;
}

.header p:hover, .header a:hover {
  font-weight: bold;
  color: #000;
}

.header button {
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 10px 15px;
}


#login, #register{
  background-image: linear-gradient(#1f1104, #ffa751);
  color: white;
  border: #000;
}
#login:hover, #register:hover{
  background-image: linear-gradient(#1f1104, #ffa751);
  color: #063469;
  
}

#login:hover{
  transform: scale(1.25);

}

#register:hover{
  transform: scale(1.25);

}

.footer a {
  text-decoration: none;
  color: #27374D;
  transition: 0.5s;
}

.footer a:hover {
  color: #000;
}

#fila1 img:hover{
  transform: scale(1.25);
}

.footer ul li {
  display: inline-block;
  margin: 0px 30px;
}
    


    .footer{
      background-image: linear-gradient(#ffe259, #ffa751);
      padding:10px;
      font-family: 'Play', sans-serif;
      text-align:center;
      border:none
      }
      
      #fila1{
      color:#526D82;
      font-size:20px;
      }
      
      .footer a{
      text-decoration: none;
      color:#526D82;
      transition:0.5s;
      }
      
      .footer a:hover{
      color:#000;
      }
      
      
      .footer ul li{
      display:inline-block;
      margin:0px 30px;
      }
      
  
      #fila2{
        color:#000;
        font-size: 12px;
        padding: 20px;
        text-align: center;
      }

.login {
  background-color: #ffffffa4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 450px;
  margin: 50px auto;
}

.login h2 {
  text-align: center;
}

.login label {
  display: block;
  margin-top: 10px;
}

.login input[type="text"],
.login input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  max-width: 450px;
  border: 1px solid ;
}

.login input[type="file"] {
  margin-top: 10px;
}

.login select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgba(136, 132, 132, 0.425);
}

.login input[type="checkbox"] {
  margin-right: 5px;
}

.login button {
  width: 100%;
  padding: 10px;
  background-color: #526D82;
  color: #DDE6ED;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login button:hover {
  background-color: #27374D;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffe259 !important;
  font-family: Arial, sans-serif;
}

html{
  background-color: #ffe259 !important;
}
#Halloween{
  background-image: linear-gradient(#2193b0, #6dd5ed);
  border: #000
}